.addBook {
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom-left-radius: 19px;
}
.book {
  margin-bottom: 2vh;
}
.list-group-item {
  border: none;
}
.text-truncate-container {
  width: 100%;
}
.text-truncate-container p {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncated {
  min-height: 16vh;
}